@model ArtFusionStudio.Models.ProductFeatures.PhoneFeatures.Physical.Memory

@{
    ViewData["Title"] = "Редактирай";
}

<h1>Редактирай</h1>

<h4>RAM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RAM" class="control-label">RAM [GB]</label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="DisplayTechnologies" asp-action="Index">Върни се към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
