@model ArtFusionStudio.Models.ProductFeatures.PhoneFeatures.OperatingSystemVersion

@{
    ViewData["Title"] = "Изтрий";
}

<h1>Изтрий</h1>

<h3>Сигурен ли си че искаш да изтриеш @Model.OSVersion?</h3>
<div>
    <h4>Версия на ОС</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Версия на ОС
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OSVersion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> 
        <a asp-controller="OSNameAndVersions" asp-action="Index">Върни се към списъка</a>
    </form>
</div>
