@model ArtFusionStudio.Models.ProductFeatures.PhoneFeatures.Physical.StorageCapacity

@{
    ViewData["Title"] = "Добави";
}

<h1>Създай</h1>

<h4>Памет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CapacityGB" class="control-label">Памет</label>
                <input asp-for="CapacityGB" class="form-control" />
                <span asp-validation-for="CapacityGB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="DisplayTechnologies" asp-action="Index">Върни се към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
