@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката ви.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим на разработка</h3>
<p>
    Превключването към <strong>Режим на разработка</strong> ще покаже по-подробна информация за грешката, която е възникнала.
</p>
<p>
    <strong>Режимът на разработка не трябва да бъде активиран в разпространените приложения</strong>, тъй като това може да доведе до показване на чувствителна информация от изключенията на крайните потребители. За локално отстраняване на грешки, режимът на разработка може да се активира, като се зададе променливата на средата <strong>ASPNETCORE_ENVIRONMENT</strong> на стойност <strong>Development</strong> и като се рестартира приложението.
</p>
