@model ArtFusionStudio.Models.Phone

@{
    ViewData["Title"] = "Добави";
}

<h1>Създай</h1>

<h4>Телефон</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Марка</label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductURL" class="control-label">Изображение на продукта</label>
                <input asp-for="ProductURL" class="form-control" />
                <span asp-validation-for="ProductURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OldPrice" class="control-label">Стара цена</label>
                <input asp-for="OldPrice" class="form-control" type="number" min="0" max="100000" />
                <span asp-validation-for="OldPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentPrice" class="control-label">Текуща цена</label>
                <input asp-for="CurrentPrice" class="form-control" type="number" min="0" max="100000" />
                <span asp-validation-for="CurrentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Наличност</label>
                <input asp-for="Quantity" class="form-control" type="number" min="0" max="10000" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USBTypeId" class="control-label">Тип USB</label>
                <select asp-for="USBTypeId" class="form-control" asp-items="ViewBag.USBTypeId"></select>
            </div>

            <div class="form-group">
                <label asp-for="StorageCapacityId" class="control-label">Памет</label>
                <select asp-for="StorageCapacityId" class="form-control" asp-items="ViewBag.StorageCapacityId"></select>
            </div>

            <div class="form-group">
                <label asp-for="RAMMemoryId" class="control-label">RAM памет</label>
                <select asp-for="RAMMemoryId" class="form-control" asp-items="ViewBag.RAMMemorysId"></select>
            </div>

            <div class="form-group">
                <label asp-for="DisplayTechnologyId" class="control-label">Екран</label>
                <select asp-for="DisplayTechnologyId" class="form-control" asp-items="ViewBag.DisplayTechnologyId"></select>
            </div>

            <div class="form-group">
                <label asp-for="CamerasId" class="control-label">Брой камери</label>
                <select asp-for="CamerasId" class="form-control" asp-items="ViewBag.CamerasId"></select>
            </div>

            <div class="form-group">
                <label asp-for="OSNameAndVersionId" class="control-label">ОС</label>
                <select asp-for="OSNameAndVersionId" class="form-control" asp-items="ViewBag.OSNameAndVersionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalVotes" class="control-label">Брой оценки</label>
                <input asp-for="TotalVotes" class="form-control" type="number" min="0" max="1000000" />
                <span asp-validation-for="TotalVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label">Общ резултат</label>
                <input asp-for="Score" class="form-control" type="number" min="0" max="5000000" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Върни се към списъка</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
